PORT=3847
JWT_SECRET=change_this_to_a_long_random_secret
SMM_API_URL=https://smmreseller.in/api/v2
SMM_API_KEY=your_smm_api_key_here
SMM_API_EMAIL=your_account_email_here
UPI_ID=your_upi_id_here
UPI_NAME=Your Business Name
